.player {
  height: 50%;
}

.annotate-button {
  background-color: #265404;
  border-radius: 2px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  margin: 10px;
  padding: 10px;
}

.save-button {
  background-color: grey;
  border-radius: 2px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  margin: 10px;
  padding: 10px;
}

.button-bar {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.target {
  display: contents;
}

.video-text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border: 2px solid black;
  height: 70vh;
}

.button {
  cursor: pointer;
}

.text-area-selector-container {
  height: 100%;
}

.vg-player {
  width: calc(50vw);
  height: 100%;
}
