.player {
    height: 50%;
}

.annotate-button {
    background-color: #265404;
    padding: 10px;
    border-radius: 2px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 10px;
}