.appContainer {
    height: 100%;
    width: 100%;
    background-color: rgb(30, 79, 98);
}
.gridContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 100px;
}

.gridTile {
    height: 100px;
    width:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;

    
}

/* span {
    margin: 0 10px;
} */

.gridTile:first-of-type {
    margin-right: 10px;
}

.gridTile:last-of-type {
    margin-left: 10px;
}