.appContainer {
  height: 100%;
  width: 100%;
  background-color: rgb(30, 79, 98);
}

.devToolContainer {
  padding:10px;
  line-height: 25px;
}

.gridContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 30px;
  flex-wrap: wrap;
}

.gridTile {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 7px;
  color: white;
  text-align: center;
  border-radius: 30px;
}

.gridTile:first-of-type {
  margin-right: 10px;
  margin-left: 0px;
}

.gridTile:last-of-type {
  margin-right: 0px;
  margin-left: 10px;
}

.clickable {
  cursor: pointer;
}

.delete-all-button {
  color: white;
}

.savedAllDataButton {
  color:white;
}

.tileSpan {
  overflow-wrap: anywhere;
  padding: 10px;
}
