<div class="appContainer">
  <div class="devToolContainer">
    <span (click)="storageService.clearAllVideos(); refreshVideoList();" class="delete-all-button clickable">Delete All</span>
    <br>
    <span (click)="navigateToDevTools()" class="savedAllDataButton clickable">View Saved Data</span>
  </div>
  <div class="gridContainer">
    <div routerLink="/uploader" class="gridTile clickable">+</div>
    <div *ngFor="let video of savedVideos; let i = index" (click)="navigateToVideoScreen(i)" class="gridTile clickable">
      <span class="tileSpan">{{video?.name}}</span>
    </div>
  </div>
</div>